html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.gchhkgrid2 {
  display: grid;
  padding: 4em;
  grid-template-columns: repeat(2, 1fr);
  gap: 2em;
  padding: 16;
  margin: 16;
}

.gchhkgrid3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 1em;
  gap: 2em;
  padding: 3em;
  margin: 16;
}

.square {
  aspect-ratio: 1/ 1;
  display: flex;
  align-items: center;
  padding: 5%;
  color: #fff;
}

.square img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

.square.fullImg {
  padding: 0;
}

.square.fullImg img {
  object-fit: cover;
}
